/** #66 - Radio Button **/
.challenge66 {
  background-color: #353b44;
}

.challenge66 .radioButton {
  width: 32px;
  height: 32px;
  margin: 32px auto;
  border-radius: 32px;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  cursor: pointer;
  position: relative;
}

.challenge66 .radioButton.active {
  background-color: #ffffff;
}

.challenge66 .inner {
  display: none;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: #20d31d;
  transition: display 4ms ease;
}

.challenge66 .inner.active {
  display: block;
}

.challenge66 .ray {
  display: none;
  position: absolute;
  color: #ffffff;
  transition: all 8ms ease;
}

.challenge66 .ray.active {
  display: block;
}

.challenge66 .ray0 {
  left: 40px;
  transform: scale(1.25);
}

.challenge66 .ray180 {
  right: 40px;
  transform: scale(1.2);
}

.challenge66 .ray90 {
  bottom: 35px;
  transform: scale(1.25) rotate(90deg);
}

.challenge66 .ray270 {
  top: 35px;
  transform: scale(1.25) rotate(90deg);
}

.challenge66 .ray45 {
  left: 32px;
  bottom: 28px;
  transform: scale(1.25) rotate(-45deg);
}

.challenge66 .ray135 {
  right: 32px;
  bottom: 28px;
  transform: scale(1.25) rotate(45deg);
}

.challenge66 .ray225 {
  left: 32px;
  top: 28px;
  transform: scale(1.25) rotate(45deg);
}

.challenge66 .ray315 {
  right: 32px;
  top: 28px;
  transform: scale(1.25) rotate(-45deg);
}

/** #70 - Calendar **/
.challenge70 {
  background-color: coral;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.challenge70 .block {
  width: calc(50% - 8px);
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 4px solid coral;
  transition: all 0.3s ease;
}

.challenge70 .labelDay {
  font-size: 16px;
  margin-top: 16px;
  transition: font-size 4ms ease;
}

.challenge70 .labelDate {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 16px;
  transition: font-size 4ms ease;
}

.challenge70 .block:hover .labelDay {
  font-size: 14px;
}

.challenge70 .block:hover .labelDate {
  font-size: 44px;
}

.challenge70 .block:hover {
  border-color: rgb(43, 42, 42);
  box-shadow: inset 2px 2px 4px rgba(43, 42, 42, 0.9);
}

/** Challenge 78 - Hover shadow and scale effect **/
.challenge78 {
  background-color: steelblue;
}

.challenge78 .block {
  background-color: white;
  margin: 32px auto;
  padding: 16px;
  width: 25%;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s ease;
}

.challenge78 .block:hover {
  box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}

/** Challenge 74 - Hover ripple effect **/
.challenge74 {
  background-color: darkolivegreen;
}

.challenge74 .numberBlock {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin: 16px;
  cursor: pointer;
  background-color: unset;
  border: 1px solid white;
  border-radius: 50px;
  outline: none;
  transition: all 0.5s ease-out;
}

.challenge74 .numberBlock:hover {
  background-color: rgb(119, 150, 65);
}

.challenge74 .numberBlock.active span.text {
  color: darkolivegreen;
}

.challenge74 .numberBlock span.text {
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  font-weight: 550;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.challenge74 .numberBlock .rippleBackground {
  background-color: white;
  /* position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.5s ease-out;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0px;
  left: 0px; */
}

/** Challenge 82 - Button flip **/
.challenge82 {
  border: none;
  position: absolute;
}

.challenge82 .block {
  margin: 8px auto;
  padding: 16px 24px;
  border-radius: 100px;
  border: 2px solid white;
  background-color: white;
  transition: background-color 0.25s ease, color 0.25s ease, transform 0.5s ease;
  width: 60px;
  text-align: center;
}

.challenge82 .block.front,
.challenge82 .block.back {
  backface-visibility: hidden;
  position: absolute;
  top: 5px;
  left: 25px;
}

.challenge82 .block.front {
  z-index: 2;
}

.challenge82 .block.back {
  background-color: #20d31d;
  color: white;
}

.challenge82 .block:hover {
  cursor: pointer;
}

/** Challenge 64 - Hover effect **/
.challenge64 {
  display: block;
  border: none;
  padding-top: 16px;
}

.challenge64 .block {
  padding: 16px;
  width: 120px;
  text-align: center;
  cursor: pointer;
  transition: all 1s ease;
  will-change: transform;
}

.challenge64 .block.front {
  background-color: white;
  color: purple;
  transform: translate(10px, -60px);
  
}

.challenge64 .block.back {
  background-color: purple;
  color: white;
  transform: translate(20px, 10px);
}

.challenge64 .block.movePurple {
  background-color: purple;
  color: white;
  transform: translate(20px, -45px);
}

.challenge64 .block.moveWhite {
  background-color: white;
  color: purple;
  transform: translate(10px, 0);
}

/** Challenge 02 - Hover effect on hamburger icon **/
.challenge02 {
  background-color: #b050bd;
  flex-direction: column;
  padding: 16px 0px;
  cursor: pointer;
}

.challenge02 .block {
  width: 24px;
  height: 4px;
  margin: 2px auto;
  background-color: white;
  transition: all 0.5s ease;
}

/** Challenge 40 - Zoom in on image on click **/
.challenge40 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.challenge40 img {
  object-fit: cover;
  object-position: center center;
  cursor: pointer;
  width: 160px;
  height: 160px;
  transition: all 1s ease;
}

.challenge40 img.zoomIn {
  transform: translate(160px, 160px) scale(3);
}

/** Challenge 84 - Book cover **/
.challenge84 {
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.challenge84 .book {
  height: 240px;
  width: 180px;
  color: white;
  display: flex;
  position: relative;
  box-shadow: -2px 6px 6px grey;
}

.challenge84 .book .spine {
  width: 8px;
  height: 100%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: 1px solid black;
  background: linear-gradient(to right, black, 10%, rgb(71, 70, 70));
}

.challenge84 .book .cover {
  width: 172px;
  height: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid black;
  background: linear-gradient(45deg, black, 15%, rgb(71, 70, 70));
  box-shadow: inset 4px 0px 3px 0px rgb(22, 22, 22);
}

.challenge84 .book .cover .title {
  padding: 10% 5% 0 10%;
}

.challenge84 .book h1 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 4px;
}

.challenge84 .book p {
  color:gray;
  font-style: italic;
  font-size: 10px;
  margin: 0;
}

.challenge84 .book .bookmark {
  width: 8px;
  height: calc(100% + 6px);
  background-color: rgb(150, 25, 25);
  position: absolute;
  top: -2px;
  right: 24px;
  border-radius: 2px;
  box-shadow: -1px 0px 3px black;
}

/** Challenge 94 - Red tree with branches **/
.challenge94 {
  background-color: lightblue;
  padding: 48px 48px 96px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.challenge94 .tree {
  display: flex;
  position: relative;
  overflow: visible;
}

.challenge94 .tree .side {
  width: 80px;
  height: 180px;
  position: relative;
}

.challenge94 .tree .side::after {
  content: '';
  background-color: lightblue;
  position: absolute;
  top: 0;
  transform: rotate(20deg);
  width: 80px;
  height: 200px;
}

.challenge94 .tree .left {
  background-color: rgb(192, 33, 33);
}

.challenge94 .tree .left::after {
  transform-origin: top right;
}

.challenge94 .tree .right {
  background-color: rgb(199, 71, 71);
}

.challenge94 .tree .right::after {
  transform-origin: top left;
  transform: rotate(-20deg);
}

/** Challenge 94 - Green tree with branches **/
.challenge94UsingBorders {
  background-color: lightyellow;
  padding: 48px 48px 96px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.challenge94UsingBorders .tree {
  display: flex;
  position: relative;
  overflow: visible;
}

.challenge94UsingBorders .tree .side {
  position: relative;
  border-bottom: 180px solid;
}

.challenge94UsingBorders .tree .left {
  border-left: 80px solid transparent;
  border-bottom-color: seagreen;
}

.challenge94UsingBorders .tree .right {
  border-right: 80px solid transparent;
  border-bottom-color: limegreen;
}

.challenge94 .tree .branch,
.challenge94UsingBorders .tree .branch {
  z-index: 5;
  width: 4px;
  background-color: goldenrod;
  position: absolute;
  top: 25%;
  left: calc(50% - 2px);
}

.challenge94 .tree .b0,
.challenge94UsingBorders .tree .b0 {
  height: 180px;
}

.challenge94 .tree .b0::after,
.challenge94UsingBorders .tree .b0::after {
  content: '';
  background-color: lightsteelblue;
  width: 60px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: -28px;
}

.challenge94 .tree .leftBranch,
.challenge94UsingBorders .tree .leftBranch {
  transform-origin: bottom left;
  transform: rotate(-45deg);
}

.challenge94 .tree .b1,
.challenge94UsingBorders .tree .b1 {
  height: 15px;
}

.challenge94 .tree .b2,
.challenge94UsingBorders .tree .b2 {
  height: 30px;
  top: 50%;
}

.challenge94 .tree .b3,
.challenge94UsingBorders .tree .b3 {
  height: 45px;
  top: 75%;
}

.challenge94 .tree .rightBranch,
.challenge94UsingBorders .tree .rightBranch {
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.challenge94 .tree .b4,
.challenge94UsingBorders .tree .b4 {
  height: 25px;
  top: 32%;
}

.challenge94 .tree .b5,
.challenge94UsingBorders .tree .b5 {
  height: 40px;
  top: 64%;
}

/** Challenge 43 - Light bulb **/
.challenge43 {
  position: relative;
  flex-direction: column;
  background-color: darkslategray;
}

.challenge43 .cap {
  width: 32px;
  height: 4px;
  background-color: lightgray;
  border-radius: 4px;
  margin: 2px 0;
}

.challenge43 .capBase {
  width: 16px;
  margin-top: 2px;
  border-top: 10px solid lightgray;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.challenge43 .bulb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.challenge43 .bulbTop {
  background-color: yellow;
  width: 72px;
  height: 64px;
  border-radius: 100%;
  box-shadow: 0px -6px 20px 12px rgba(255, 255, 0, 0.45);
  transition: all 1s ease;
}

.challenge43 .bulbBottom {
  width: 32px;
  margin-top: -12px;
  margin-bottom: 2px;
  border-top: 16px solid yellow;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  transition: all 1s ease;
}

.challenge43 .bulb:hover .bulbTop {
  background-color: grey;
  box-shadow: none;
}

.challenge43 .bulb:hover .bulbBottom {
  border-top-color: grey;
}

/** Challenge 47 - Pixel board **/
.challenge47 {
  background-color: rgb(230, 76, 76);
  display: flex;
  flex-wrap: wrap;
}

.challenge47 .pixel {
  border: 1px solid rgb(228, 93, 93);
  cursor: pointer;
}

.challenge47 .pixel:hover {
  background-color: rgba(228, 93, 93, 0.842);
}

.challenge47 .pixel.active {
  background-color: white;
  border-color: white;
}

.challenge47 .cornerTopLeft {
  border-top-left-radius: 2px;
}

.challenge47 .cornerTopRight {
  border-top-right-radius: 2px;
}

.challenge47 .cornerBottomLeft {
  border-bottom-left-radius: 2px;
}

.challenge47 .cornerBottomRight {
  border-bottom-right-radius: 2px;
}

/** Challenge 51 - Timer **/
.challenge51 {
  background-color: thistle;
  flex-direction: column;
}

.challenge51 .timer {
  background-color: white;
  color: purple;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 6px;
  font-size: 24px;
  padding: 8px 8px 8px 12px;
  box-shadow: 2px 2px 4px gray;
}

.challenge51 .button {
  margin-top: 16px;
  cursor: pointer;
  transition: border 0.25s ease-in-out;
}

.challenge51 .button.pause {
  border-left: 6px solid white;
  border-right: 6px solid white;
  width: 4px;
  height: 20px;
}

.challenge51 .button.play {
  border-left: 18px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/** Challenge 62 - Plans Comparison **/
.challenge62 {
  background-color: rosybrown;
  flex-direction: column;
}

.challenge62 .cardContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.challenge62 .cardContainer .card {
  width: 120px;
  margin: 16px 6px;
  box-shadow: 1px 1px 8px gray;
  cursor: pointer;
  transition: all 0.5s ease;
}

.challenge62 .cardContainer .card:hover {
  transform: scale(1.1);
}

.challenge62 .cardContainer .card:hover .header {
  background-color: rgb(201, 65, 65);
}

.challenge62 .cardContainer .card:hover .details {
  color: rgb(201, 65, 65);
}

.challenge62 .cardContainer .card .header {
  padding: 8px;
  text-align: center;
  color: white;
  background-color: indianred;
}

.challenge62 .cardContainer .card .details {
  padding: 8px;
  text-align: center;
  color: rgb(32, 32, 32);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.challenge62 .cardContainer .card .details p {
  margin: 16px 0 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 900;
}

.challenge62 .cardContainer .card .details span {
  margin-bottom: 16px;
  font-size: 12px;
}

.challenge62 .cardContainer .textPlaceholder.long {
  width: 80px;
}

.challenge62 .cardContainer .textPlaceholder.short {
  width: 56px;
}

.challenge62 .featuresContainer {
  width: 400px;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: rgb(32, 32, 32);
  font-size: 12px;
  box-shadow: 1px 1px 8px gray;
}

.challenge62 .featuresContainer .feature {
  margin: 8px 0;
  display: grid;
  grid-template: "a b" auto
                 "c c" auto / 50% 50%;
}

.challenge62 .featuresContainer .textPlaceholder {
  width: 100%;
  height: 8px;
}

.challenge62 .featuresContainer .feature .featureLabelMin {
  grid-area: a;
}

.challenge62 .featuresContainer .feature .featureLabelMax {
  grid-area: b;
  text-align: right;
}

.challenge62 .featuresContainer .feature .featurePortion {
  margin-top: 6px;
  grid-area: c;
  position: relative;
}

.challenge62 .featuresContainer .feature .featurePlan {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;;
  height: 8px;
  background-color: rgb(201, 65, 65);
  border-radius: 16px;
  transition: all 0.3s ease;
}

/** Challenge 07 - Sliding sidebar from the back **/
.challenge07 {
  background-color: darkslateblue;
  color: white;
  padding: 48px;
  display: block;
  position: relative;
  overflow: hidden;
}

.challenge07 .sidebar {
  background-color: slateblue;
  width: 60%;
  padding: 12px 0;
  border-radius: 4px;
  box-shadow: 2px 2px 4px black;
  font-size: 14px;
  position: absolute;
  z-index: 0;
  margin: auto;
  transition: all 0.5s ease;
}

.challenge07 .sidebar .sidebarItem {
  padding: 12px 12px 12px 40px;
  cursor: pointer;
  position: relative;
}

.challenge07 .sidebar .sidebarItem:hover {
  background-color: rgb(90, 73, 202);
}

.challenge07 .sidebar .sidebarItem::before {
  content: '';
  position: absolute;
  top: calc(50% - 4px);
  left: 24px;
  border: 1px solid white;
  width: 6px;
  height: 6px;
}

.challenge07 .mainPanel {
  border-radius: 4px;
  box-shadow: 2px 2px 4px black;
  position: relative;
  z-index: 2;
  transition: all 0.5s ease;
}

.challenge07 .mainPanel .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(178, 167, 238);
  padding: 16px 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 18px;
  position: relative;
  overflow: hidden;
}

.challenge07 .mainPanel .header .searchBar {
  z-index: 0;
  position: absolute;
  left: 120px;
  outline: none;
  width: calc(100% - 80px);
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 24px;
  opacity: 0;
  transition: all 0.5s ease;
}

.challenge07 .mainPanel .header span {
  position: relative;
  z-index: 1;
}

.challenge07 .mainPanel .header .headerRightIcon {
  border-color: rgb(195, 188, 236);
  margin: 0 0 0 12px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.challenge07 .mainPanel .header .headerRightIcon:hover {
  border-color: white;
}

.challenge07 .mainPanel .header .headerLeftIcon {
  display: flex;
  flex-direction: column;
  width: 24px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.challenge07 .mainPanel .header .headerLeftIcon:hover .iconTop .bar,
.challenge07 .mainPanel .header .headerLeftIcon:hover .iconTop .circle,
.challenge07 .mainPanel .header .headerLeftIcon:hover .iconBottom {
  background-color: white;
}

.challenge07 .mainPanel .header .headerLeftIcon .iconTop {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.challenge07 .mainPanel .header .headerLeftIcon .iconTop .bar {
  width: 16px;
  height: 4px;
  border-radius: 4px;
  background-color: rgb(195, 188, 236);
  margin-right: 2px;
}

.challenge07 .mainPanel .header .headerLeftIcon .iconTop .circle {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: rgb(195, 188, 236);
}

.challenge07 .mainPanel .header .headerLeftIcon .iconBottom {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: rgb(195, 188, 236);
}

.challenge07 .mainPanel .body {
  background-color: white;
  color:rgb(71, 70, 70);
  padding: 0 32px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.challenge07 .mainPanel .body .item {
  margin: 0;
  width: 100%;
  position: relative;
}

.challenge07 .mainPanel .body .item.placeholder {
  border-left: 4px solid lightgray;
  height: 24px;
}

.challenge07 .mainPanel .body .item.notification {
  padding: 0 12px 24px;
  cursor: pointer;
  position: relative;
}

.challenge07 .mainPanel .body .item.notification::before {
  content: '';
  position: absolute;
  top: 2px;
  left: -3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid slateblue;
}

.challenge07 .mainPanel .body .item.notification::after {
  content: '';
  position: absolute;
  top: 14px;
  left: 0;
  bottom: 0;
  border-left: 4px solid lightgray;
}

.challenge07 .mainPanel .body .item.notification:hover {
  color: slateblue;
}

.challenge07 .mainPanel .body .item.notification p {
  margin: 0;
  padding-left: 4px;
}

.challenge07 .mainPanel .body .item.notification p.time {
  font-size: 10px;
}

.challenge07 .mainPanel .body .item.notification p.content {
  font-size: 16px;
}

/** Challenge 12 - Quote with tooltip **/
.challenge12 {
  padding: 56px 48px;
  background-color: darkorchid;
  color: white;
  font-size: 24px;
  position: relative;
  display: block;
  overflow: hidden;
}

.challenge12 .content {
  position: relative;
}

.challenge12 .content::before {
  content: ',,';
  position: absolute;
  top: -208px;
  left: -14px;
  z-index: 1;
  letter-spacing: -4px;
  font-size: 180px;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  color: rgba(255, 255, 255, 0.3);
}

.challenge12 .content .author {
  margin-top: 16px;
  font-size: 16px;
  font-style: oblique;
}

.challenge12 .content .highlight {
  padding: 4px 8px;
  background-color: rgb(98, 0, 139);
  cursor: pointer;
}

.challenge12 .tooltip {
  width: 60%;
  font-size: 14px;
  position: absolute;
  top: -48px;
  z-index: 2;
  opacity: 0;
  transition: all 0.5s ease;
}

.challenge12 .tooltip.active {
  opacity: 1;
  top: 4px;
}

.challenge12 .tooltip .header {
  background-color: white;
  color: rgb(98, 0, 139);
  padding: 12px 24px;
}

.challenge12 .tooltip .body {
  padding: 12px 24px;
  background-color: rgb(98, 0, 139);
  font-weight: normal;
}

.challenge12 .tooltip .arrow {
  width: 1px;
  border-top: 8px solid rgb(98, 0, 139);
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  margin: 0 auto;
}

/** Challenge 26 - Quotes **/
.challenge26 {
  background-color: darkmagenta;
}

.challenge26 .card {
  width: 50%;
  text-align: center;
  box-shadow: 2px 2px 6px black;
  overflow: hidden;
  transition: all 0.5s ease;
}

.challenge26 .card .content {
  padding: 24px;
  font-size: 12px;
  background-color: white;
  position: relative;
}

.challenge26 .card .content .marker {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  font-size: 14px;
  padding: 4px;
  color: white;
  z-index: 1;
}

.challenge26 .card .content::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 64px;
  z-index: 0;
  background-color: rgb(187, 69, 187);
  transform-origin: top left;
  transform: rotate(-45deg);
}

.challenge26 .card .content h3 {
  margin: 0 0 8px 0;
  font-weight: 600;
  font-size: 14px;
}

.challenge26 .card .content p {
  margin: 0;
  font-size: 12px;
}

.challenge26 .card .button {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  background-color: rgb(73, 0, 73);
  transition: all 0.25s ease;
}

.challenge26 .card .button:hover {
  background-color: rgb(53, 0, 53);
}

/** Challenge 32 - Counter **/
.challenge32 {
  background: linear-gradient(45deg, cornflowerblue, skyblue);
  padding: 48px;
}

.challenge32 .counter {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 24px;
  padding: 4px;
  border-radius: 100px;
  width: 40%;
}

.challenge32 .counter button {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: inherit;
  background-color: white;
  transition: all 0.5s ease;
}

.challenge32 .counter button.minus {
  color: rgb(189, 5, 5);
}

.challenge32 .counter button.minus:hover {
  color: white;
  background-color: rgb(189, 5, 5);
}

.challenge32 .counter button.plus {
  color: rgb(5,189, 5);
}

.challenge32 .counter button.plus:hover {
  color: white;
  background-color: rgb(5,189, 5);
}

.challenge32 .counter .count {
  transition: all 0.5s ease;
}

/** Challenge 36 - Panel with menu **/
.challenge36 {
  background-color: rgb(8, 38, 95);
  padding: 48px;
}

.challenge36 .panel {
  box-shadow: 2px 2px 4px black;
}

.challenge36 .panel .header {
  background-color: rgb(32, 89, 196);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.challenge36 .panel .header .iconContainer {
  padding: 16px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.challenge36 .panel .header .iconContainer.active {
  background-color: rgb(136, 172, 240);
}

.challenge36 .panel .header .icon {
  border-color: lightgray;
}

.challenge36 .panel .header .iconContainer.active .icon {
  border-color: white;
}

.challenge36 .panel .header .icon:hover {
  border-color: white;
}

.challenge36 .panel .header .left {
  display: flex;
  align-items: center;
}

.challenge36 .panel .main {
  background-color: white;
  padding: 24px;
}

.challenge36 .panel .main .content {
  transition: all 0.4s ease;
}

.challenge36 .panel .content.changeContent {
  transform: translateY(10px);
  opacity: 0;
}

.challenge36 .panel .content .heading {
  text-align: left;
}

.challenge36 .panel .content .textPlaceholder.long {
  width: 280px;
}

.challenge36 .panel .content .textPlaceholder.short {
  width: 160px;
}

.challenge36 .panel .content h3 {
  margin: 0;
}

.challenge36 .panel .content .paragraph {
  margin-top: 16px;
}
